[Unit]
Description=Transparency Toolkit Catalyst
Requires=network.target docmanager.service stanford-ner.service
After=syslog.target network.target docmanager.service stanford-ner.service
[Service]
Type=forking

# Note that environment variables are sourced from
# /etc/systemd/system/catalyst.service.d/*.conf

User={{ catalyst_user }}
WorkingDirectory={{ cwd }}/Catalyst/

ExecStart=/bin/bash -lc 'rails server --environment=development --pid=/run/catalyst/catalyst.pid --daemon --port=9004'

ExecRestart=/bin/bash -lc 'rails restart'

ExecStop=/bin/bash -lc 'rails -e "exit 0"'

RuntimeDirectory=catalyst
PIDFile=/run/catalyst/catalyst.pid
#NoNewPrivileges=

[Install]
WantedBy=multi-user.target