[Unit]
Description=Transparency Toolkit LookingGlass
Requires=network.target docmanager.service
After=syslog.target network.target docmanager.service
[Service]
Type=simple

# Note that environment variables are sourced from
# /etc/systemd/system/docmanager.service.d/*.conf

User={{ lookingglass_user }}

WorkingDirectory={{ cwd }}/DocManager/


ExecStart=/bin/bash -lc 'rails server --environment=development --pid=/run/lookingglass/lookingglass.pid --port=3001'

ExecRestart=/bin/bash -lc 'rails restart'

ExecStop=/bin/bash -lc 'rails -e "exit 0"'

RuntimeDirectory=lookingglass
PIDFile=/run/lookingglass/lookingglass.pid

[Install]
WantedBy=multi-user.target