[Unit]
Description=Transparency Toolkit IndexServer
Requires=network.target docmanager.service indexserver.service tika.service
After=syslog.target network.target docmanager.service indexserver.service tika.service
[Service]
Type=forking

# Note that environment variables are sourced from
# /etc/systemd/system/ocrserver.service.d/*.conf

User={{ ocrserver_user }}
WorkingDirectory={{ cwd }}/OCRServer

PIDFile=/run/ocrserver/ocrserver.pid

ExecStart=/bin/bash -lc 'rackup config.ru  --env=development --pid=/run/ocrserver/ocrserver.pid --daemonize --port=9393'

#ExecRestart=bash -lc 'rackup restart'
# TODO does rackup have a prettier way to restart?

ExecStop=/bin/bash -lc 'rackup config.ru -e "exit 0"'
RuntimeDirectory=ocrserver

[Install]
WantedBy=multi-user.target