[Unit]
Description=Transparency Toolkit Archive Administrator
Requires=network.target redis-server.service docmanager.service
After=syslog.target network.target redis-server.service docmanager.service
[Service]
Type=simple
Restart=on-failure
RestartSec=10

# Note that environment variables are sourced from
# /etc/systemd/system/archiveadministrator.service.d/*.conf

User={{ archiveadministrator_user }}

WorkingDirectory={{ cwd }}/ArchiveAdministrator/


ExecStart=/bin/bash -lc 'rake environment resque:work & rackup --env=production --pid=/run/archiveadministrator/archiveadministrator.pid --host="{{archiveadministrator_ip}}" --port=3002'

ExecStop=/bin/bash -lc 'rackup -e "exit 0"'

RuntimeDirectory=archiveadministrator
PIDFile=/run/archiveadministrator/archiveadministrator.pid
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
