[Unit]
Description=Transparency Toolkit LookingGlass
Requires=network.target docmanager.service
After=syslog.target network.target docmanager.service

[Service]
Type=simple
Restart=on-failure
RestartSec=2

# Note that environment variables are sourced from
# /etc/systemd/system/lookingglass.service.d/*.conf

User={{ lookingglass_user }}

WorkingDirectory={{ cwd }}/LookingGlass/
RuntimeDirectory=lookingglass
PIDFile=/run/lookingglass/lookingglass.pid

ExecStart=/bin/bash -lc 'rails server --environment=production --pid=/run/lookingglass/lookingglass.pid --binding={{lookingglass_ip}} --port=3001'

#ExecRestart=/bin/bash -lc 'rails restart'

ExecStop=/bin/bash -lc 'rails -e "exit 0"'

[Install]
WantedBy=multi-user.target
