[Unit]
Description=Transparency Toolkit DocManager
Requires=network.target
After=syslog.target network.target
[Service]
Type=forking

# Note that environment variables are sourced from
# /etc/systemd/system/docmanager.service.d/*.conf

User={{ docmanager_user }}
WorkingDirectory={{ cwd }}/DocManager/

PIDFile=/run/tt.docmanager.pid

ExecStart=/bin/bash -lc 'rails server --environment=development --pid=/run/tt.docmanager.pid --daemon --port=3000'

ExecRestart=/bin/bash -lc 'rails restart'

ExecStop=/bin/bash -lc 'rails -e "exit 0"'

[Install]
WantedBy=multi-user.target