[Unit]
Description=Transparency Toolkit DocManager
Requires=network.target
After=syslog.target network.target
[Service]
Type=simple

# Note that environment variables are sourced from
# /etc/systemd/system/docmanager.service.d/*.conf

User={{ docmanager_user }}

WorkingDirectory={{ cwd }}/DocManager/


ExecStart=/bin/bash -lc 'rails server --environment=development --pid=/run/docmanager/docmanager.pid --port=3000'

ExecRestart=/bin/bash -lc 'rails restart'

ExecStop=/bin/bash -lc 'rails -e "exit 0"'

RuntimeDirectory=docmanager
PIDFile=/run/docmanager/docmanager.pid

[Install]
WantedBy=multi-user.target