[Unit]
Description=Transparency Toolkit IndexServer
Requires=network.target docmanager.service
After=syslog.target network.target docmanager.service
[Service]
Type=forking

# Note that environment variables are sourced from
# /etc/systemd/system/indexserver.service.d/*.conf

User={{ indexserver_user }}
WorkingDirectory={{ cwd }}/IndexServer/

PIDFile=/run/tt.indexserver.pid

ExecStart=/bin/bash -lc 'rails server --environment=development --pid=/run/tt.indexserver.pid --daemon --port=9494'

ExecRestart=/bin/bash -lc 'rails restart'

ExecStop=/bin/bash -lc 'rails -e "exit 0"'

[Install]
WantedBy=multi-user.target