[Unit]
Description=Transparency Toolkit IndexServer
Requires=network.target
After=syslog.target network.target
[Service]
Type=simple

# Note that environment variables are sourced from
# /etc/systemd/system/indexserver.service.d/*.conf

User={{ indexserver_user }}

WorkingDirectory={{ cwd }}/IndexServer/


ExecStart=/bin/bash -lc 'rackup --env=development --pid=/run/indexserver/indexserver.pid --port=9494'

#ExecRestart=/bin/bash -lc 'rails restart'

ExecStop=/bin/bash -lc 'rackup -e "exit 0"'

RuntimeDirectory=indexserver
PIDFile=/run/indexserver/indexserver.pid
#NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target